.regularModalButton {
    background-color: #f1eee9;
    border: 0px;
    color: black;
    width: 8rem;
    border-radius: 0.58rem;
}

.confirmDeleteButton {
    background-color: darkred;
    border: none;
    border-radius: 0.58rem;
    width: 5rem;
}

.confirmDeleteButton:focus {
    background-color: red !important;
    border: none !important;
}

.confirmDeleteButton:hover {
    background-color: red;
}

.delivery-info div p{
    display:inline-block;
    margin-bottom: 0;
}

.meta-info {
    width: 380px;
}

.delivery-info {
    margin-bottom: 1rem;
}

.date-info p {
    display:inline-block;
    margin-bottom: 0;
}

.order-content-info p {
    display: inline-block;
    margin-bottom: 0;
}

.order-content-info {
    margin-bottom: 1rem;
}

.order-total-sum-info p {
    display: inline-block;
    margin-bottom: 0;
}

.order-content-info p {
    margin-bottom: 0;
}

.total-for-order {
    margin-left: 0.3rem;
}

.delivery-info div {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.delivery-info label {
    width: 380px;
    flex: 0 0 auto;
    margin-bottom: 0;   
}

.delivery-info input {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;
    height: 2rem;
    font-family: "Shantell Sans";
}   

.comment-info textarea {
    width: 100%;
    height: 8rem;
}

div#editOrderInfo .updateOrderInfo {
    width: 11rem;
    background-color: green;
    border: none;
    border-radius: 0.58rem;
}

.info {
    margin-left: 0;
}

.dynamic_info {
    margin-left: 0;
}

.formHeaders {
    margin-bottom: 1rem;
}

.font-form-input {
    font-size: 1rem;
}

.font-form-headers {
    font-weight: bold;
}