* {
    box-sizing: border-box;
}

.font-h-sets {
    font-family: "Pacifico";
    font-weight: 400;
    font-size:32px;
}

.font-reg-sets {
    font-family: "Shantell Sans";
    font-weight: 400;
    font-size: 24px;
}

.font-oth-sets {
    font-family: "Lobster";
    font-weight: 400;
    font-size: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    caret-color: transparent;
}

body {
    margin: 0;
}

header {   
    caret-color: transparent;
}

header nav {
    margin: 24px 3rem;
}

header h1 {
    margin-left: 3rem;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;

    list-style: none;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 1.8rem;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color:tomato;
}

.active {
    color: tomato;
}

main {
    flex:1;
    margin: 3rem 3rem 3rem 3rem;
    
    caret-color: transparent;
}

section > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.single_order {
    border:2px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;

    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;

    cursor: pointer;
}

.single_order:hover {
    border:2px solid tomato;
    border-radius: 35px;
}

.single_order:hover button {
    background-color: lightgray;
}

.single_order:active {
    cursor: pointer;
}

.single_order > img {
    width: 100%;  
    border-radius: 35px ;
}

.single_order > button {
    border: 0;
    border-radius: 10px;
    background-color: #f1eee9;
    margin-top: 5px;
    padding: 10px 30px;
    cursor: pointer;

    font-family: "Shantell Sans";
    font-size: 16px;
    font-weight: 400;
}

.weight-p {
    color: gray;
    margin: 0;
    margin-top: 15px;
    font-size: large;
}

.name-p {
    margin: 0;
    font-size: large;
    flex: 1;
}

.price-p {
    margin: 0;
    margin-top: 15px;
    font-size: large;
}

footer {
    bottom: 100%;

    background-color: black;
    color: white;
    padding: 0.1rem 0;
    padding-left: 2rem;
}

footer p {
    margin: 0;
    padding: 1.5rem;
}

.contact-form_font {
    font-family: "Shantell Sans";
    font-size: 20px;
}

contact-form {
    margin: 3rem;
    caret-color: auto;
}

contact-form > h1 {
    text-align: center;
}

contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-order-block {
    padding: 2.5rem;
}

.contact-order-block > h1 {
    text-align: left;
    margin-bottom: 1.5rem;
}

.contact-order-block > div {
    margin-bottom: 1.4rem;
}

.contact-order-block textarea {
    width: 100%;
}

.contact-order-block fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.contact-order-block input[type="text"], input[type="email"], input[type="tel"], select, input[type="time"] {
    width: 100%;
    height: 2.5rem;
    font-family: "Shantell Sans";
}

.newsletter label{
    display: inline;
}

.contact-order-block button {
    height: 2.5rem;
}

.contact-form_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-form_buttons button {
    flex-grow: 1;
    background-color: white; 
}

.order_update {
    display: none;
}

.order_update label {
    font-weight: bold;
}

.order_update input {
    display: none;
}

.nothing-chosen {
    font-weight: bold;
}

.total_sum {
    font-size: x-large;
    font-weight: bold;
}

.filter {
    display: inline;
}

.filter_active {
    border-radius: 10px;
    background-color: rgb(154, 247, 154) !important;
}

.filter button {
    padding: 3px;
    margin-right: 15px;
    border: 0;
    color: green;
    font-family: "Shantell Sans";
    background-color: white;
    font-size: 16px;
}

.block_order {
    margin-top: 20px;
}

.combos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 2rem;
    
    margin: 1rem 0;
}

.single_combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
}

.combo_part {
    margin: 0 0.6rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    align-self: flex-start;
    /*flex: 1 1 auto;*/
}

.combo_part > img {
    flex-grow: 2;
    width: 3.4rem;    
}

.combo_part  img:hover {
    transform: scale(1.5) translateY(-0.7rem);
}

.combo_part > p {
    margin: 0;
    flex-grow: 1;
    text-wrap: nowrap;
    
    font-size: 1.25rem;
}

.desert_clarify {
    font-size: 17px !important;
    font-style: italic;
}

.combo_section h2{
    text-align: center;
    padding-bottom: 2rem;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    color: black;
    
    /*width: 340px;
    height: 150px;
    */
    padding: 10px 120px 10px 120px;

    z-index: 1000;

    border: 2px solid black;

    text-align: center;

    display: none; /* Скрыто по умолчанию */

    font-size: 20px;
}

.notification p {
    margin-top: 38px;
    margin-bottom: 25px;
}

.notification button {
    background-color: white;
    color: black;

    border: 2px solid black;
    padding: 10px 25px;
    border-radius: 12px;

    margin: 0 auto;
    margin-bottom: 5px;

    cursor: pointer;

    font-family: 'Shantell Sans';
    font-size: 14px;
}

.notification button:hover {
    background-color: black; 
    color: white; 
}

.placingOrder {
    display: none;
    flex-direction: column;
    align-items: center;
    
    border: 3px solid black;
    background-color: white;

    position: sticky;

    margin-bottom: 8rem;
    width: 100%;
    /*height: 250px;*/
    z-index: 900;

    bottom: 0px;
}

.placingOrder button {
    font-size: larger;

    background-color: white;
    color: black;

    border: 2px solid black;
    padding: 10px 25px;
    border-radius: 12px;

    margin: 0 auto;
    margin-bottom: 5px;

    cursor: pointer;
}

.placingOrder button:hover {
    background-color: black; 
    color: white; 
}

.placingOrder p {
    text-align: center;
    margin: 0px;
}

.placingOrder .font-reg-sets {
    margin-bottom: 10px;
}

.order-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;   
}

.noMeals {
    display: block;
}

.content a {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    header ul {
        flex-direction: row;
        justify-content: space-between;
    }
    section > div {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {

    main {
        margin:15px;
    }

    header h1{
        margin-left: 0;
        text-align: center;
    }

    header ul{
        flex-direction: column;
        align-items: center;
    }

    header a {
        font-size: 28px;
    }

    section > h2 {
        text-align: center;
    }

    section > div {
        grid-template-columns: 1fr;
        align-items: stretch;
    }

}