* {
    box-sizing: border-box; 
}

.navbar-brand p {
    font-family: "Shantell Sans";
    font-size: x-large;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.order-info div > p {
    word-break: break-all;
}

.edit-order-info div > p {
    word-break: break-all;
}

thead th {
    vertical-align: middle !important;
    text-align: center;
}

tbody td {
    text-align: center;
}

footer {
    position: sticky;
    bottom: 0%;

    opacity: 90%;
    color: black;
    padding: 0.1rem 0;
    padding-left: 2rem;
}

footer p {
    margin: 0;
    padding: 1.5rem;
}

div#closeNotification {
    cursor: pointer;
    margin-left: 0.5rem;
}